body{
	background-color: bisque;
}
.container{
	width: 1205px;
	height: 600px;
	border: 1px solid rgb(243, 240, 240);
	margin: 50px auto;
	padding: 2px;
	border-radius: 10px;
}

.kotak1{
	width: 400px;
	height: 600px;
	border-right: 1px solid deeppink;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: white;
	float: left;
}
.kotak1 img {
	width: 250px;
	height: 200px;
	margin-left: 25%;
	margin-top: 10px;
}
.kotak1 h2 {
	text-align: center;
	color: black;
}
.kotak1 h4 {
	text-align: center;
	color:  black;
}
.kotak1 h1 {
	text-align: center;
	color:black;
}
.boxmac1 {
	width: 150px;
	height: 40px;
	border: 2px solid white;
	border-radius: 30px;
	margin-left: 30%;
}
.boxmac1 h3 {
	background: deeppink;
	color: white;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 25px;
	margin-top: -0%;
	border-radius: 20px;

}
.kotak2{
	width: 400px;
	height: 600px;
	background-color: white;
	float: left;
}
.kotak2 img {
	width: 250px;
	height: 200px;
	margin-left: 25%;
	margin-top: 10px;
}
.kotak2 h2 {
	text-align: center;
	color: black;
}
.kotak2 h4 {
	text-align: center;
	color: black;
}
.kotak2 h1 {
	text-align: center;
	color:black;
}
.boxmac2 {
	width: 150px;
	height: 40px;
	border: 2px solid white;
	border-radius: 30px;
	margin-left: 30%;
}
.boxmac2 h3 {
	background: blueviolet;
	color: white;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 25px;
	margin-top: -0px;
	border-radius: 20px;
}
.kotak3{
	width: 400px;
	height: 600px;
	border-left: 1px solid blueviolet;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
	float: left;
}
.kotak3 img {
	width: 250px;
	height: 200px;
	margin-left: 25%;
	margin-top: 10px;
}
.kotak3 h2 {
	text-align: center;
	color:black;
}
.kotak3 h4 {
	text-align: center;
	color:black;
}
.kotak3 h1 {
	text-align: center;
	color: black;
}
.boxmac3 {
	width: 150px;
	height: 40px;
	border: 2px solid  white;
	border-radius: 30px;
	margin-left: 30%;
}
.boxmac3 h3 {
	background: aqua;
	color: white;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 25px;
	margin-top: -0px;
	transition: 00.2s linear;
	border-radius: 20px;
}
.tombol  {
    transition: 0.2s linear;
    font-size: 30px;
	line-height: 40px;
}
.tombol:hover {
    transform: scale(1.3);
    color: white;
}